################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/MFCzipApp/MFCzipApp/x64/Debug
/NetZip/NetZip/obj
